@media screen and (min-width: 1920px) {
    body {
        max-width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 601px) {
    .form-container {
        max-width: 500px;
        margin: auto;
    }
}

.icon {
    padding: 10px;
    background: white;
    color: black;
    min-width: 50px;
    text-align: center;
}

input {
    font-family: "Georgia", serif;
      }
      
a {
    font-family: "Georgia", serif;
      }
p {
    font-family: "Georgia", serif;
      }

h1 {
    font-family: "Lucida Handwriting", cursive;
}

.w3-grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
    .w3-grid-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}